@media (max-width: 1500px) {
  .shop__slider-card {
    padding-left: 50px;
  }
}
@media (max-width: 1366px) {
  section {
    padding: 60px 0;
  }
  .aside {
    display: flex;
    border-right: none;
    height: auto;
    width: auto;
    flex-wrap: nowrap;
  }
  .menu {
    padding: 0;
  }
  .menu__list {
    display: flex;
    text-align: center;
    align-items: flex-end;
    a {
      padding: 25px;
    }
  }
  .header__search {
    padding: 45px 20px 0;
  }
  .header__date {
    padding: 15px;
  }
  .header__location {
    padding-top: 40px;
    padding-left: 20px;
    &::before {
      left: 0;
    }
  }
  .slider__item-info-title {
    font-size: 60px;
  }
  .header__arrows {
    left: 110px;
  }
  .surf__slider-item {
    min-height: 400px;
  }
  .airplane {
    background-size: 500px;
    height: 200px;
  }
  .travel {
    padding-bottom: 50px;
    background-size: 250px;
    background-position: bottom -65px right;
  }
  .travel-slider__info,
  .sleep-slider__info {
    padding: 0 40px;
  }
  .slider__info-item {
    margin-right: 0;
    padding-left: 25px;
  }
  .slider__info-title {
    font-size: 35px;
  }
  .slider__info-subtitle {
    font-size: 16px;
  }
  .slider-card__img {
    margin-right: 0px;
  }
  .card__position2 + .slider-card__adv {
    right: auto;
    left: 30px;
  }
  .extras__box img {
    margin: 0 auto;
  }
  .extras__box-title {
    width: 100%;
    text-align: center;
  }
  .shop__slider-extras {
    justify-content: start;
  }
}
@media (max-width: 1280px) {
  .header__map svg {
    width: 500px;
    height: 500px;
  }
  .menuToggle svg {
    width: auto;
    height: auto;
  }
  .slick-next {
    right: 25px;
  }
  .slick-prev {
    right: 75px;
  }
  .aside__title {
    font-size: 150px;
    line-height: 150px;
  }
  .logo img {
    max-height: 190px;
  }
  .shop__slider-extras {
    margin-right: 0;
  }
  .shop__slider-card {
    padding-left: 0;
    padding-right: 30px;
  }
  .slider-card__img img {
    margin-right: 0;
  }
}
@media (max-width: 1150px) {
  .header__arrows {
    display: none;
  }
  .travel {
    background-size: 250px;
  }
  .slider__info-title {
    font-size: 30px;
  }
  .slider__info-subtitle {
    letter-spacing: 5px;
  }
  .left-title {
    background-size: 300px;
    background-position: center right;
    padding-left: 100px;
  }
}
@media (max-width: 1040px) {
  .menu {
    display: none;
  }
  .top40 {
    top: auto;
    bottom: 250px;
  }
  .slider__item-info-link {
    display: none;
  }
  .slider__item-info {
    right: 10px;
    bottom: 50px;
  }
  .subtitle {
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .slider__item-info-title {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 60px;
  }
  .slider__item-info-subtext {
    font-size: 16px;
    line-height: 18px;
    padding-left: 65px;
    &::before {
      width: 50px;
    }
  }
  .slider__dots {
    max-width: 920px;
    left: 20px;
    right: 0;
    margin: 0 auto;
    bottom: 20px;
  }
  .menuToggle {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    svg {
      fill: $green;
    }
  }
  .menu_burger {
    display: none;
    position: absolute;
    right: 40px;
    top: 100px;
    background-color: rgba($color: #000000, $alpha: 0.1);
    span {
      display: block;
    }
  }
  .surf__slider {
    .top40 {
      bottom: auto;
      top: 0;
    }
  }
  .slider-item {
    &__wrapper {
      min-height: 600px;
    }
    &__sideText {
      bottom: 70px;
      letter-spacing: 6px;
    }
    &__title {
      padding-top: 40px;
    }
  }
  .travel {
    background-size: 200px;
  }
  .slider__info-title {
    letter-spacing: normal;
  }
  .sleep {
    background-size: 125px;
  }
  .shop {
    .top40 {
      top: 110px;
      bottom: auto;
    }
  }
  .shop__slider-extras {
    display: none;
  }
  .shop__slider-card {
    padding-left: 100px;
  }
  .quantity-button.quantity-down {
    left: 50%;
  }
}
@media (max-width: 960px) {
  section {
    padding: 50px 0;
  }
  .left-title h3 {
    font-size: 100px;
    left: 0px;
  }
  .right-title {
    padding: 0 20px 0 0;
  }
  .surf-location {
    font-size: 36px;
  }
  .location::after {
    content: "";
    background-image: url("../img/location.svg");
    position: absolute;
    top: 50%;
    right: 0;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 0;
  }
  .left-stripe,
  .right-stripe {
    letter-spacing: 5;
  }
  .slider-item {
    &__wrapper {
      min-height: 400px;
    }
    &__sideText {
      transform: none;
      bottom: auto;
      top: 50%;
      letter-spacing: 3px;
    }
  }

  .left-title {
    font-size: 40px;
  }
  .top-line {
    padding-left: 100px;
  }
  .dots__box {
    max-width: 150px;
  }
  .slider__dots {
    display: none;
  }
  .surf__slider {
    padding-top: 40px;
  }
  .surf__slider .slick-slide:nth-child(4n + 3) .surf__slider-item,
  .surf__slider .slick-slide:nth-child(4n + 1) .surf__slider-item {
    margin-top: 0;
  }
  .slick-arrow img {
    width: 20px;
    height: 20px;
  }
  .slider__info-title {
    font-size: 25px;
  }
  .slider__info-item {
    margin-right: 20px;
  }
  .slick-prev,
  .slick-next {
    top: 140px;
  }
  .shop__slider-card {
    padding: 0;
  }
  .slider-card__adv {
    font-size: 20px;
    line-height: 20px;
    right: -105px;
    width: 290px;
    padding-left: 60px;
    &::before {
      width: 50px;
    }
  }
}
@media (max-width: 768px) {
  .header {
    &__map > svg {
      display: none;
    }
  }
  .menu__list {
    flex-direction: column;
  }
  .menu_burger {
    background-color: inherit;
  }
  .slider-item__sideText {
    letter-spacing: normal;
  }
  .slider-item__wrapper:hover .slider-item__btn {
    font-size: 30px;
  }
  .slider-item__btn button {
    height: 40px;
  }
  .slider-item__title {
    width: auto;
    font-size: 25px;
  }
  .slider-item__sideText {
    font-size: 16px;
  }
  .left-stripe {
    letter-spacing: 3px;
  }
  .surf-location {
    font-size: 22px;
  }
  .right-stripe {
    letter-spacing: 4px;
  }
  .travel {
    padding: 0px 0 100px;
    background-size: 150px;
    background-position: bottom right;
  }
  .sleep {
    background-size: 110px;
    padding-top: 0;
  }
  .travel__slider-item,
  .sleep__slider-item {
    background-size: contain;
    min-height: auto;
  }
  .slider-item__btn {
    font-size: 35px;
  }
  .slider__info-item {
    padding-left: 0px;
    height: 175px;
  }
  .slider__info-title {
    font-size: 16px;
  }
  .slider__info-subtitle {
    letter-spacing: 1px;
    bottom: 20px;
    font-size: 12px;
  }
  .airplane,
  .hammok {
    padding-left: 40px;
    background-size: 150px;
    height: auto;
    margin: 100px 0 30px;
  }
  .airplane-logo::after {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 40px;
  }
  .slider__info-title span:last-child {
    letter-spacing: normal;
    font-size: 10px;
  }
  .right-title {
    height: auto;
  }
  .stars::after {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    right: auto;
  }
  .slick-prev,
  .slick-next {
    top: 100px;
  }
  .slider-card__adv {
    font-size: 14px;
    line-height: 16px;
    right: -40px;
    width: 100%;
    padding-left: 60px;
    top: 193px;
  }
  .card__position2 + .slider-card__adv {
    top: 278px;
  }
  .card__position3 + .slider-card__adv {
    top: 603px;
  }
  .quantity {
    padding-left: 15px;
  }
  .card__position1 {
    top: 125px;
    right: 135px;
  }
  .card__position3 {
    top: 430px;
  }
  .card__position3 + .slider-card__adv {
    top: 415px;
  }
  .slider-card__adv {
    top: 103px;
  }
  .slider-card__img img {
    height: 500px;
  }
  .shop-btn {
    padding-top: 0;
  }
  .shop .stars {
    margin-top: 10px;
    width: 130px;
  }
  .shop .surf-location {
    width: 270px;
  }
  .footer {
    padding: 20px 0 10px;
  }
  .footer__copy {
    margin: 10px 0;
  }
}
@media (max-width: 600px) {
  .slider-card__img img {
    height: 370px;
  }
  .slider-card__state,
  .slider-card__adv {
    display: none;
  }
  .shop .top40 {
    top: 40px;
  }
}

@media (max-width: 520px) {
  section {
    padding: 20px 0;
  }
  .aside {
    display: block;
    &__title {
      display: none;
    }
  }
  .header {
    &__date {
      font-size: 54px;
      line-height: 54px;
    }
    &__search {
      padding: 25px 20px 0;
    }
    &__location {
      padding-top: 0;
    }
    &__location::before {
      left: 10px;
    }
    &__map > svg {
      display: none;
    }
  }
  .menuToggle svg {
    height: 50px;
    width: 50px;
  }
  .slider__item-info-title {
    font-size: 30px;
  }
  .subtitle {
    margin-bottom: 0;
    font-size: 25px;
    line-height: 25px;
  }
  .menu_burger {
    right: 25px;
  }
  .menu__list img {
    width: 40px;
    height: 40px;
  }
  .right-title {
    height: auto;
  }
  .slider__info-item {
    width: 50%;
    margin-right: 0;
    height: 140px;
  }
  .slider-item__sideText {
    left: 40px;
  }
  .slider-item__wrapper {
    min-height: 300px;
  }
  .surf__slider-item {
    min-height: auto;
  }
  .left-stripe::before,
  .right-stripe::before {
    display: none;
  }
  .location::after {
    display: none;
  }
  .top-line {
    margin-bottom: 60px;
    padding-left: 90px;
  }
  .left-title h3 {
    font-size: 80px;
  }
  .travel {
    padding-bottom: 50px;
  }
  .travel-slider__info,
  .sleep-slider__info {
    flex-wrap: wrap;
  }
  .travel__slider-item {
    margin-bottom: 0;
  }
  .slider-item__btn {
    font-size: 20px;
  }
  .airplane,
  .hammok {
    background-image: none;
  }
  .slider-item__title {
    font-size: 20px;
  }
  .slider__info-subtitle {
    position: static;
    transform: none;
    margin-right: 25px;
    width: 30%;
    text-align: left;
  }
  .slider__info-item {
    height: auto;
    margin-bottom: 25px;
    width: 100%;
  }
  .travel__slider-item {
    min-height: auto;
  }
  .slider-item__wrapper:hover .slider-item__btn {
    font-size: 16px;
  }
  .quantity {
    display: block;
    left: 10%;
    position: relative;
  }
  .quantity-nav {
    height: 20px;
  }
  .nights {
    font-size: 25px;
    height: 30px;
  }
  .quantity-button img {
    width: 10px;
  }
  .quantity-button.quantity-up {
    left: 55%;
    top: 0;
  }
  .quantity-button.quantity-down {
    left: 55%;
    top: 25px;
  }
  .sleep {
    background-size: 75px;
    .slider__info-subtitle:nth-child(2),
    .slider__info-subtitle:nth-child(3) {
      display: none;
    }
    .slider__info-item {
      display: flex;
      &:nth-child(2),
      &:nth-child(3) {
        width: 50%;
      }
    }
    .slider__info-item:last-child {
      justify-content: center;
    }
    .quantity {
      order: 3;
    }
  }
  .sleep__slider-item {
    margin-bottom: 0;
  }
  .shop__slider-card {
    display: none;
  }
  .shop__slider-item .left-title {
    padding-top: 0;
  }
  .left-title {
    padding-left: 50px;
  }
}
@media (max-width: 420px) {
  .surf-location {
    font-size: 20px;
  }
  .left-stripe,
  .right-stripe {
    font-size: 18px;
    letter-spacing: normal;
  }
  .left-title {
    font-size: 30px;
  }
  .left-title h3 {
    font-size: 50px;
  }
  .top-line {
    padding-left: 50px;
  }
  .top-line {
    margin-bottom: 20px;
  }
  .airplane {
    height: auto;
    margin-bottom: 25px;
  }
  .travel,
  .sleep {
    background-image: none;
  }

  .right-stripe {
    margin-bottom: 0;
  }
  .slider__info-title {
    font-size: 14px;
  }

  .slider__info-item {
    margin-bottom: 15px;
  }
  .slider__info-subtitle {
    letter-spacing: normal;
  }
  .slider-item__btn button {
    height: 30px;
  }
  .slick-arrow {
    display: none;
  }
}
@media (max-height: 1000px) {
  .menu {
    padding-top: 0;
  }
}
@media (max-height: 720px) {
  .menu__list img {
    width: 100%;
    height: 25px;
  }
}
@media (max-height: 568px) {
  .menu__list img {
    width: 100%;
    height: 20px;
  }
  .slider__item-info {
    bottom: 5px;
  }
  .top40 {
    bottom: 180px;
  }
}
