body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #171919;
  text-transform: uppercase;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
section {
  padding: 160px 0 120px;
  max-width: 1440px;
  margin: 0 auto;
}
.left-title {
  text-align: left;
  font-weight: 800;
  font-size: 80px;
  position: relative;
  padding-left: 140px;
  display: inline-block;

  h3 {
    color: rgba(#ffffff, 0.02);
    position: absolute;
    font-size: 200px;
    margin: 0;
    left: -44px;
    top: 0;
  }
}
.left-stripe,
.right-stripe {
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  opacity: 0.5;
  padding-left: 103px;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  &::before {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 50%;
  }
}
.left-stripe {
  &::before {
    left: 0;
  }
}
.right-stripe {
  padding-left: 0;
  padding-right: 30px;
  &::before {
    left: 100%;
  }
}
.shadow {
  opacity: 0.5;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.quantity {
  display: inline-block;
  width: 100%;
  position: absolute;
}
.quantity input {
  width: 45px;
  height: 45px;
  font-size: 40px;
  padding: 0;
  margin: 0;
  font-weight: 800;
  border: none;
  background-color: transparent;
  color: #fff;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  position: static;
  height: 42px;
  order: 3;
}

.quantity-button {
  cursor: pointer;
  user-select: none;
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 45px;
  z-index: 3;
}

.quantity-button.quantity-up {
  left: 70%;
  position: absolute;
}

.quantity-button.quantity-down {
  left: 60%;
  position: absolute;
}
.menuToggle {
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  display: none;
  z-index: 5;
}
.menu_burger {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu_burger li a {
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  &:nth-child(2) {
    padding-top: 25px;
  }
}
