@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: relative;
}
.header__slider {
  &-item {
    background-image: radial-gradient(
        62.09% 62.09% at 42.87% 49.23%,
        rgba(34, 34, 34, 0.426517) 0%,
        #0f0f0f 100%
      ),
      url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
    height: 100vh;
  }
}
.slider__item-info {
  position: absolute;
  right: 80px;
  bottom: 115px;
  text-align: right;
  &-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;

    margin-bottom: 48px;
  }
  &-subtitle {
    margin-bottom: 5px;
  }
  &-subtext {
    margin-bottom: 8px;
  }
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 40px;
  cursor: pointer;
  z-index: 4;
  background-color: inherit;
  border: none;
}
.slick-next {
  right: 80px;
}
.slick-prev {
  right: 125px;
}

.slider__dots {
  position: absolute;
  bottom: 40px;
  right: 50px;
  max-width: 920px;
  width: 100%;
  text-align: right;
  &-item {
    position: relative;
  }
  .slick-current {
    .dots__box {
      border-top: 4px solid $green;
    }
  }
}

.dots__box {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  height: 28px;
  align-items: center;
  border-top: 4px solid #ffffff;
  padding-top: 6px;
  &-number {
    font-weight: 800;
    font-size: 24px;
  }
  &-name {
    font-weight: 300;
    text-transform: capitalize;
  }
}
.subtitle {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 20px;
}
.aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-right: 1px solid rgba(#ffffff, 0.25);
  height: 100%;
  text-align: center;
}
.aside__title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;
  opacity: 0.07;
  max-width: 467px;
}
.menu {
  padding-top: 100px;
  a {
    span {
      display: block;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 3px;
      padding-top: 6px;
      margin-bottom: 30px;
      text-transform: capitalize;
    }
  }
}
.header__date {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  span {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
    display: block;
    margin-bottom: 30px;
    padding-top: 15px;
  }
}
.header__location {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  padding-left: 19px;
  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 13px;
    background-image: url("/img/marker.svg");
    left: 0px;
  }
}
.header__search {
  padding: 38px 0 38px;
}
.header__map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
.header__arrows {
  position: absolute;
  bottom: 40px;
  left: 210px;
  z-index: 3;
}
.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animline 5s infinite 6s;
}
@keyframes animline {
  to {
    stroke-dashoffset: 0;
  }
}

.surf {
  position: relative;
}

.top-line::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 80px;
  height: 1px;
  background-color: $green;
}
.right-title {
  text-align: right;
  margin-top: 80px;
  position: relative;
  font-weight: normal;
  padding: 50px 80px 0 0;
  height: 554px;
}
.left-title {
  text-align: left;
  margin-top: 80px;
  position: relative;
  font-weight: 800;
  padding-left: 135px;
}
.location {
  height: auto;
}
.location::after {
  content: url("../img/location.svg");
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(-50%);
}
.surf-location {
  font-weight: 800;
  font-size: 40px;
}
.surf-location span {
  font-weight: 100;
}
.surf__slider {
  padding-top: 110px;
  .slick-slide:nth-child(4n + 1) {
    .surf__slider-item {
      margin-top: 32px;
    }
  }
  .slick-slide:nth-child(4n + 3) {
    .surf__slider-item {
      margin-top: 89px;
    }
  }
}
.surf__slider-item {
  background: rgba(#1c2121, 0.85);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 750px;
  position: relative;
  background-blend-mode: overlay;
}
.surf__slider-item:hover {
  .slider-item__btn {
    display: block;
  }
  background: rgba(#1c2121, 0.3) no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all 0.5s;
}

.slider-item__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding-top: 70px;
  padding-left: 40px;
  width: 140px;
}
.slider-item__sideText {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  transform-origin: left;
  transform: rotate(-90deg);
  position: absolute;
  left: 40px;
  bottom: 80px;
  white-space: nowrap;
}
.slider-item__sideText span {
  font-weight: 100;
}
.slider-item__btn {
  display: none;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  width: 100%;
  button {
    background-color: $green;
    color: inherit;
    text-transform: uppercase;
    height: 80px;
    font-weight: inherit;
    position: relative;
    padding-right: 57px;
    padding-left: 17px;
    &::after {
      content: "";
      background-image: url("../img/arrow-right.svg");
      position: absolute;
      right: 17px;
      top: 50%;
      width: 24px;
      height: 20px;
      transform: translateY(-50%);
    }
    &::before {
      content: "";
      position: absolute;
      left: -10px;
      top: 50%;
      width: 20px;
      height: 1px;
      transform: translateY(-50%);
      background-color: #fff;
    }
  }
}
.surf__map {
  background-image: url("../img/worldmap.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1259px;
  min-height: 634px;
  margin: 0 auto;
}
.map-content {
  position: absolute;
  display: none;
  width: 285px;
  padding: 30px;
}
.surf__map svg {
  height: 100%;
  width: 100%;
}
.body__wave {
  position: relative;
}

.map-dots-9 {
  display: block;
  right: 315px;
  bottom: 180px;
  background: rgba(#0f1010, 0.7);
}
.map-dots-title {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 5px;
  position: relative;
  padding-bottom: 10px;
  font-weight: 800;
}
.map-dots-title::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  background-image: url("../img/arrow-right.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}
.map-dots-title::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: $green;
}
.map-dots__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding-top: 10px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.map-dots__body {
  display: flex;
  align-items: flex-end;
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
}
.map-dots__body p {
  margin: 0;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}
.body__wave,
.body__water,
.body__wind {
  width: 33.3%;
  padding-top: 32px;
  position: relative;
  text-align: center;
}
.body__wave::before,
.body__water::before,
.body__wind::before {
  content: "";
  position: absolute;
  top: 0;

  color: $green;
  width: 40px;
  height: 24px;
  background-repeat: no-repeat;
}
.body__wave::before {
  background-image: url("../img/wave.svg");
}
.body__water::before {
  background-image: url("../img/water.svg");
  width: 19px;
  left: 50%;
  transform: translateX(-50%);
}
.body__wind::before {
  background-image: url("../img/wind.svg");
  width: 26px;
}
.airplane-logo {
  display: inline-block;
  position: relative;
  padding-right: 78px;
}
.airplane {
  background-image: url("../img/airplane.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 250px;
  display: block;
}
.airplane-logo::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../img/avia-logo.svg");
  width: 52px;
  height: 46px;
  background-color: inherit;
}
.travel {
  position: relative;
  background-image: url("../img/cocktail.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 250px;
}

.travel__slider-item {
  position: relative;
  margin-bottom: 70px;
  background-image: url("../img/travel_slider.png");
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 781px;
  background-size: 1115px 780px;
}
.travel-btn {
  display: block;
  position: static;
}
.travel-slider__info {
  display: flex;
  padding: 0 120px;
}
.slider__info-item {
  display: flex;
  position: relative;
  padding-left: 40px;
  height: 200px;
  margin-right: 55px;
  width: 25%;
  &:last-child {
    margin-right: 0;
  }
}
.slider__info-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  max-width: 242px;
  order: 2;
  span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 36px;
    text-align: right;
    letter-spacing: 5.25px;
    opacity: 0.75;
  }
}
.slider__info-subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: rotate(-90deg);
  font-size: 18px;
  line-height: 22px;
  opacity: 0.5;
  letter-spacing: 8px;
  text-align: right;
}

@import "media";
