@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: relative;
}
.header__slider {
  &-item {
    background-image: radial-gradient(
        62.09% 62.09% at 42.87% 49.23%,
        rgba(34, 34, 34, 0.426517) 0%,
        #0f0f0f 100%
      ),
      url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
    height: 100vh;
  }
}
.slider__item-info {
  position: absolute;
  right: 80px;
  bottom: 115px;

  text-align: right;
  color: #ffffff;
  text-transform: uppercase;

  &-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;

    margin-bottom: 48px;
  }
  &-subtitle {
    margin-bottom: 5px;
  }
  &-subtext {
    margin-bottom: 8px;
  }
  &-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;

    margin-bottom: 20px;
  }
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 40px;
  cursor: pointer;
  z-index: 4;
  background-color: inherit;
  border: none;
}
.slick-next {
  right: 80px;
}
.slick-prev {
  right: 125px;
}

.slider__dots {
  position: absolute;
  bottom: 40px;
  right: 50px;
  max-width: 920px;
  width: 100%;
  color: #ffffff;
  text-align: right;
  &-item {
    position: relative;
  }
  .slick-current {
    .dots__box {
      border-top: 4px solid $green;
    }
  }
}

.dots__box {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  height: 28px;
  align-items: center;
  border-top: 4px solid #ffffff;
  padding-top: 6px;
  &-number {
    font-weight: 800;
    font-size: 24px;
  }
  &-name {
    font-weight: 300;
  }
}
.aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-right: 1px solid rgba(#ffffff, 0.25);
  height: 100%;
  text-align: center;
  color: #ffffff;
}
.aside__title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;
  text-transform: uppercase;

  opacity: 0.07;
  max-width: 467px;
}
.menu {
  padding-top: 100px;
  a {
    color: #ffffff;
    span {
      display: block;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 3px;
      padding-top: 6px;
      margin-bottom: 30px;
    }
  }
}
.header__date {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  span {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
    display: block;
    margin-bottom: 30px;
    padding-top: 15px;
  }
}
.header__location {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  padding-left: 19px;
  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 13px;
    background-image: url("/img/marker.svg");
    left: 0px;
  }
}
.header__search {
  padding: 38px 0 38px;
}
.header__map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
.header__arrows {
  position: absolute;
  bottom: 40px;
  left: 210px;
  z-index: 3;
}
.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animline 5s infinite 6s;
}
@keyframes animline {
  to {
    stroke-dashoffset: 0;
  }
}

@import "media";
